.customPanel {
    :global {
      .ant-drawer-footer {
        padding: 16px 24px;
      }
      .ant-form-item-label {
        font-weight: 600;
      }
    }
    .bottomButton {
      display: flex;
      gap: 16px;
      :global {
        .ant-btn {
          height: 40px;
          padding: 0 20px;
          font-weight: 600;
        }
      }
    }
    .documentBorder {
      border: 1px solid #d9d9d9;
      padding: 24px;
    }
  }
  