.bottomButton {
  display: flex;
  gap: 16px;
  padding: 16px 32px;
  background-color: #f8fbfe;
  :global {
    .ant-btn {
      height: 40px;
      padding: 0 20px;
      font-weight: 600;
    }
  }
}

.formList {
  border: 1px solid #d9d9d9;
  padding: 16px;
  margin-bottom: 16px;
  :global {
    .ant-form-item-explain-error {
      color: #ff4d4f;
    }
  }
}